section.game-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.game-container{
    border:1px solid black;
    height: $game-grid-dimesions;
    width: $game-grid-dimesions;
    background-color: $game-grid-background;
    position: relative;
    display: 'none';
}

div.snake-segment {
    border: 1px solid black;
    background-color: $snake-color;
    position: absolute;
    height: $snake-segment-length;
    width: $snake-segment-length;
}

div.food {
    border:1px solid rgb(128, 6, 145);
    background-color: $food-color;
    position: absolute;
    height: $snake-segment-length;
    width: $snake-segment-length;
}